<html>
<head>
  <title>Welcome</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="saphelpers.js"></script>
</head>
<body>
  <div style="margin:100px;">
    <nav class="navbar navbar-inverse navbar-static-top">
    <a class="navbar-brand" href="#">SAP</a>
    </nav>
    <div class="jumbotron"  style="padding:40px;">
      <h1>Welcome to SAP! Ready to get LIT fam?</h1>
      <p>Use your favorite pair of AIR PODS and enjoy a banging sesh with all of your friends! Using SAP you can all listen to music simultaneously from your own devices. Connect now to find out more.</p>
      <a href="/create_room">
        <button class="button">Create a Session</button>
      </a>
      <a href="/join_room">
        <button class="button">Join a Session</button>
      </a>
      <a href="omt">
        <button class="button" id="omt">ONE MORE TIME</button>
      </a>
    </div>
  </div>
</body>
<style>
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
</style>
</html>
